{% extends 'registration/registration_base.html' %}
{% load i18n %}
{% load settings %}

{% block registration_content %}
    <!-- <div class="login-container"> -->
        {% if form.errors %}
            <div class="alert alert-warning error-message">
                <img src="../../../static/app/js/icons/icon-alert-circle.svg" alt="icon-alert-circle"/>
                <p><strong>{% trans "Invalid credentials." %}</strong> {% trans "Note that both fields are case-sensitive." %}</p>
            </div>
        {% endif %}

        {% is_single_user_mode as autologin %}
        {% has_external_auth as ext_auth %}
        {% reset_password_link as reset_pwd_link %}

        {% if autologin %}
            <script>location.href='/';</script>
        {% else %}
        
        <div class="login-container">
            <div class="form-cont">
                <h2>Welcome Back</h2>
                <p>Login into your account</p>
                <hr/>
                <form  id="loginForm" {% if ext_auth %} style="display: none" {% endif %} action="{% url 'login' %}" method="post" class="form-horizontal" role="form">{% csrf_token %}
                    {% for field in form %}
                        {% include 'registration/form_field.html' %}
                    {% endfor %}
                    <div class="form-group">
                        <div style="display: flex; justify-content: space-between; align-items: center;padding: 1rem 0 2rem 0;">
                            <div class="remember-me"><input type="checkbox" id="switch" /><label for="switch">Toggle</label> <p>Remember Me</p></div>
                            <div class="recover-pass-text">
                                <!-- {% if reset_pwd_link != '' %} -->
                                <!-- <p><a style="color:#33CCFF" href="{{ reset_pwd_link }}">{% trans "Recover Password?" %}</a></p> -->
                                <!-- {% else %} -->
                                <!-- <p><a style="color:#33CCFF" href="javascript:toggleForgotPasswordHint();">{% trans "Recover Password?" %}</a></p> -->
                                <p><a style="color:#33CCFF" href="reset-password-form">{% trans "Recover Password?" %}</a></p>
                                
                            </div>
                        </div>
                        <div class="button-container">
                            <div class="">
                                <button type="submit" class="btn btn-default ">{% trans 'Log in' %}</button>
                            </div>
                            <div class="">
                                <a style="color: white;" href="{% url 'welcome' %}">
                                    <button type="button" class="btn btn-default button_signup ">
                                        {% trans 'Sign Up' %}
                                    </button>
                                </a>
                            </div>
                        </div>
                        <script>function toggleForgotPasswordHint(){ $("#forgotPasswordHint").toggle(); }</script>
                                <div id="forgotPasswordHint" style="display: none; font-size: 90%; padding: 4px; background-color: #000; margin-top: 12px" class="theme-secondary">
                                    You can reset the administrator password by running the following command:
                                    <span class="theme-background-highlight" style="padding: 4px; margin: 8px 0; display: inline-block; background-color:#5A5A5A">./webodm.sh resetadminpassword yournewpass</span><br/>
                                    If you used WebODM Manager to launch WebODM, find the "Reset Password" button within the maintenance panel or within one of WebODM Manager menus.
                                </div>
                                {% endif %}
                    </div>
                </form>
            </div>
            <div class="enord-box-container">
                <div class="enord-box">
                    <button class="btn" disabled>
                        <img src="../../../static/app/js/icons/thumbs-up.svg" alt="thumbs-up" />ensight+
                    </button>
                    <p>Easiest tool to convert your drone data into meaningful insights.</p>
                </div>
            </div>

        </div>

        {% if ext_auth %}
        <div class="text-center" id="authLoading">
            <i class="fa fa-spin fa-circle-notch fa-spin fa-fw fa-2x"></i>
        </div>

        <script>
        function getAutoLoginCookie() {
            var value = "; " + document.cookie;
            var parts = value.split("; autologin=");
            if (parts.length === 2) return parts.pop().split(';').shift();
        }
        function delAutoLoginCookie() {
            var domain = getAutoLoginCookie();
            document.cookie = 'autologin=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT; Domain=' + domain + ';';
        }
        function showLoginForm(){
            $("#authLoading").hide();
            $("#loginForm").show();
        }
        $(function(){
            if (getAutoLoginCookie() !== undefined){
                $.ajax({
                    url: "/api/external-token-auth/",
                    type: "POST",
                    xhrFields: {
                        withCredentials: true
                    },
                }).done(function(res){
                    delAutoLoginCookie();
                    if (res.redirect){
                        location.href = res.redirect;
                    }else{
                        if (res.error) console.error(res.error);
                        showLoginForm();
                    }
                }).fail(function(){
                    delAutoLoginCookie();
                    showLoginForm();
                    console.error("Auto login failed");
                });
            }else{
                showLoginForm();
            }
        });
        </script>
        {% endif %}

        {% endif %}
{% endblock %}