{% extends 'registration/registration_base.html' %}
{% load i18n %}

{% block registration_content %}
    {% if form.errors %}
        <div class="alert alert-warning">
            <p>{% blocktrans count form.errors.items|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}</p>
        </div>
    {% endif %}
    <div style="width: 100%; min-height: 95lvh; display: flex; flex-direction: column; justify-content: center; align-items: center; background-image: url('../../../static/app/img/blackBg.png') ;background-color: black;">
        <div style="display: flex; flex-direction: column;">
            <div style="width: 100%; padding: 20px; width: 300px;margin: 0 auto 2rem;">
                <img style="width: 100%;" src="../../../static/app/img/ensight+.svg"/>
            </div>
            <div>
                <h2 style="color:white; font-weight: 400; text-align: center;">Reset Password</h2>
                <p style="color: #8A92A6; text-align: center;">Enter your email address and we’ll send you an email<br/> with instructions to reset your password</p>
            </div>
            <form style="display: flex; flex-direction: column;" action="{% url 'reset_password_email_sent' %}" method="post" class="form-horizontal">{% csrf_token %}
                <!-- {% for field in form %}
                    {% include 'registration/form_field.html' %}
                    {% endfor %} -->
                    
                    <!-- Add input field for email -->
                <div class="form-group">
                    <label style="color: #8A92A6;" for="email" class="control-label">{% trans 'Email' %}</label>
                    <div class="">
                        <input type="email" name="email" id="email" class="form-control" required>
                    </div>
                </div>
                <div class="form-group">
                    <div style="text-align: center;" class="">
                        <button id='submit' class="btn btn-primary" type="submit" data-loading-text="{% trans 'loading' %}..." accesskey="Enter">{% trans 'Reset My Password' %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
