{% extends 'registration/registration_base.html' %}
{% load i18n %}

{% block registration_content %}
    {% if form.errors %}
        <div class="alert alert-warning">
            <p>{% blocktrans count form.errors.items|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}</p>
        </div>
    {% endif %}
    <div style="width: 100%; min-height: 95lvh; display: flex; flex-direction: column; justify-content: center; align-items: center; background-image: url('../../../static/app/img/blackBg.png') ;background-color: black;">
        <div style="display: flex; flex-direction: column;gap: 20px; text-align: center;">
            <div style="width: 100%; padding: 20px; width: 300px;margin: 0 auto 2rem;">
                <img style="width: 100%;" src="../../../static/app/img/ensight+.svg"/>
            </div>
            <div>
                <h2 style="color:white; font-weight: 400; text-align: center;">Recovery Email Sent!</h2>
                <p style="color: #8A92A6; text-align: center;">Please check your email for next steps to reset your password.</p>
            </div>
            <button class="btn" style="background-color: #33CCFF; width: fit-content;margin: 0 auto;">
                <a style="color: white;" href="">{% trans 'Contact Support' %}</a>
            </button>
            <button class="btn" style="background-color: #ffff; border-style: none;">
                <a style="color: #000;" href="{% url 'login' %}">{% trans 'Back to Log In' %}</a>
            </button>
            
        </div>
    </div>
{% endblock %}
