{% extends 'registration/registration_base.html' %}
{% load i18n %}

{% block registration_content %}
    {% if form.errors %}
        <div class="alert alert-warning">
            <p>{% blocktrans count form.errors.items|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}</p>
        </div>
    {% endif %}
    <div style="width: 100%; min-height: 95lvh; display: flex; flex-direction: column; justify-content: center; align-items: center; text-align: center; background-image: url('../../../static/app/img/blackBg.png') ;background-color: black;">
        <div style="display: flex; flex-direction: column;gap: 20px; text-align: center;">
            <div style="width: 100%; padding: 20px; width: 300px;margin: 0 auto 2rem;">
                <img style="width: 100%;" src="../../../static/app/img/ensight+.svg"/>
            </div>
            <div style=" display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 15px;">
                <img style="width: 70px;" src="../../../static/app/img/success_tick.svg"/>
                <h1 style=" font-size: 5rem;font-weight: 900; color: #33CCFF;">You're Back in Control!</h1>
                <p style="color: #8A92A6;">Your new password is set, and you're ready to resume your missions.</p>
            </div>
            <button class="btn" style="background-color: #33CCFF; width: fit-content;margin: 0 auto;">
                <a style="color: white;" href="{% url 'login' %}">{% trans 'Back to Login' %}</a>
            </button>
        </div>
    </div>
{% endblock %}
