{% extends 'base.html' %}

{% block page-wrapper %}
<style type="text/css">
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

</style>
<section class="main" >
    <!-- <img src="../../../static/app/img/loginBg.png"  /> -->
    <div class="content" style="width: 100%; padding-top: 0;">
        {% block registration_header %}{% endblock %}
        <!-- <div class="col-sm-12 col-md-6 col-md-offset-3 top-buffer"> -->
        <div class="" style="width: 100%;">
            {% block registration_content %}{% endblock %}
        </div>
    </div>
</section>
{% endblock %}